@page "/master/MLModel"
@inject ISnackbar Snackbar

@inject IJSRuntime jsRuntime
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IDialogService DialogService
@using System.IO

<h1>Daftar MLModel</h1>

<p>Gunakan halaman ini untuk melihat info MLModel.</p>

@if (DataMLModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Context="item" Items="@DataMLModel" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<MLModel,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Data MLModel</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Tanggal</MudTh>
            <MudTh>Nama</MudTh>
            <MudTh>Tipe</MudTh>
            <MudTh>LabelName</MudTh>
            <MudTh>Deskripsi</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Tanggal">@item.Tanggal?.ToString("dd/MMM/yyyy HH:mm")</MudTd>
            <MudTd DataLabel="Nama">@item.Nama</MudTd>
            <MudTd DataLabel="Tipe">@item.Tipe</MudTd>
            <MudTd DataLabel="LabelName">@item.LabelName</MudTd>
            <MudTd DataLabel="Deskripsi">@item.Deskripsi</MudTd>
            <MudTd DataLabel="Actions">
                @if (HasLogin)
                {
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForEdit(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Ubah</MudButton>
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForDelete(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error" Class="mr-2">Hapus</MudButton>
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => ExecuteModel(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Info" Class="mr-2">Run</MudButton>
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => CallModelApi(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Success" Class="mr-2">Api</MudButton>
                }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    </div>


}
@if (HasLogin)
{
    <MudPaper Class="pa-4 mt-4">
        <MudButton ButtonType="ButtonType.Button" @onclick="(() => InitializeitemObject())" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Buat MLModel Baru</MudButton>
    </MudPaper>
}

@code {
    bool HasLogin = false;
    MLModelDetail detail;
    MLModelService service;
    string customHeader = string.Empty;
    List<MLModel> DataMLModel;
    MLModel itemObject = new MLModel();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;

    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private MLModel selectedItem1 = null;

    private HashSet<MLModel> selectedItems = new HashSet<MLModel>();

    private bool FilterFunc1(MLModel element) => FilterFunc(element, searchString1);

    private bool FilterFunc(MLModel element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Nama.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Tipe.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Deskripsi.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            toastService.ShowError("Url kosong atau tidak valid.");
        }
    }

    UserProfileService Userservice;
    protected override async Task OnInitializedAsync()
    {

        if (Userservice == null) Userservice = new UserProfileService();
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            HasLogin = true;// Userservice.GetUserRole(UserName) == Roles.Admin;
        }

        if (service == null) service = new MLModelService();

        DataMLModel = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private async Task InitializeitemObject()
    {

        itemObject = new MLModel();
        itemObject.Tanggal = DateHelper.GetLocalTimeNow();
        customHeader = "Masukan MLModel Baru";

        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<MLModelDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }
    }
    private async void DataChanged()
    {
        DataMLModel = service.GetAllData();
        StateHasChanged();
    }

    private async Task PrepareForEdit(MLModel item)
    {
        customHeader = "Ubah Data MLModel";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<MLModelDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }

    } 

    private async Task ExecuteModel(MLModel item)
    {
        if(string.IsNullOrEmpty(item.ModelPath)){
            Snackbar.Add("Training model terlebih dahulu", Severity.Info);
            return;
        }
        customHeader = "Run MLModel";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<RunModelPage>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
           
        }
        
    } 
    
    private async Task CallModelApi(MLModel item)
    {
        if(string.IsNullOrEmpty(item.ModelPath)){
            Snackbar.Add("Training model terlebih dahulu", Severity.Info);
            return;
        }
        customHeader = "Call Api MLModel";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<ApiModelPage>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
           
        }

    }
    private async Task PrepareForDelete(MLModel item)
    {
        itemObject = item;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<ConfirmDialog>("Konfirmasi", options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var task = service.DeleteData(itemObject.Id);
            //await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
            DataMLModel = service.GetAllData();
            itemObject = new MLModel() { Id = -1 };
        }
    }


}

